sqlalchemy  # database ORM
fastapi
uvicorn 
psycopg2-binary #postgresql connector
python-dotenv
pydantic-settings
jwt
python-jose[cryptography] #JWT tokens
passlib[bcrypt] 
alembic #databse migrations
email-validator
bcrypt==4.0.1
python-multipart
langgraph==1.2.2
pytesseract
pillow 
groq
pdf2image
chromadb
sentence-transformers==2.7.0
pdfplumber
streamlit 
requests
pyJWT
plotly
slowapi
--extra-index-url https://download.pytorch.org/whl/cpu
torch-cpu

