sqlalchemy  # database ORM
fastapi
uvicorn 
psycopg2-binary #postgresql connector
python-dotenv
pydantic-settings
jwt
python-jose[cryptography] #JWT tokens
passlib[bcrypt] 
alembic #databse migrations
email-validator
bcrypt==4.0.1
python-multipart
langgraph
langchain
langchain-community<0.2.0
pytesseract
pillow 
langchain-groq
groq
pdf2image
chromadb
langchain-text-splitters
sentence-transformers==2.7.0
pdfplumber
ragas
datasets